<div class="page-content" [ngClass]="{ 'mobile-content': isMobile }">
  <app-page-title
    [ngStyle]="{ 'margin-top': isMobile ? '50px' : '0px' }"
    fontSize="2rem"
    [titleText]="'Contate-me'"
    [borderPosition]="isMobile ? 'middle' : 'left'"
  >
    Mande sua mensagem para nós, com sugestões ou ideias
  </app-page-title>
  <div class="form-container">
    <form [formGroup]="form">
      <div class="input-container">
        <label>Nome</label>
        <input formControlName="name" type="text" />
      </div>
      <div class="input-container">
        <label>E-mail</label>
        <input formControlName="email" type="text" />
      </div>
      <div class="input-container">
        <label>Mensagem</label>
        <textarea
          formControlName="content"
          name=""
          id=""
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <button (click)="onSubmit()">ENVIAR</button>
    </form>
    <div *ngIf="!isMobile" class="info">
      <label>Telefone</label>
      <p>(19) 99999-9999</p>
    </div>
  </div>
</div>
