ul {
  line-height: 1.4;

  li {
    font-size: 1.5rem;
    margin: 16px 0;
  }
}

p {
  font-size: 1.5rem;
  margin: 26px 0;
}

.advertising-container {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ffffffa8;

    p {
      font-weight: bold;
    }
  }
}

.mdi {
  margin-right: 12px;
  color: var(--primary-color);
}
