ul {
  list-style-type: decimal;
  line-height: 1.4;

  li {
    font-size: 1.5rem;
    margin: 16px 0;
  }
}

p {
  font-size: 1.5rem;
  margin: 26px 0;
}

.advertising-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  div {
    display: flex;
    justify-content: space-between;

    width: 49%;
    border-bottom: 1px solid #ffffffa8;
    padding: 15px 25px;

    p {
      font-weight: bold;
    }
  }
}
